<h1>Artists</h1>

<ul id="artists">
<% @artists.each do |artist| %>
  <li class="artist">
    <%= link_to artist.name, artist, :class=>"name" %>
  </li>
<% end %>

<p>
<%= link_to 'New artist', new_artist_path %>
</p>
