-#
-# This module contains the view artist template.
-# 

#artist
  #name= @artist.name

= render(:partial => "events/events", :locals => { :events => @artist.events, :tags => [], :active_tags => []})
