
<div class="artist">
  <div class="name"><%= @artist.name %></div>
</div>

<h3>Events</h3>

<%= render( 
     :partial => "events/events", :locals => { :events => @artist.events}) %>
<p>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>

</p>
