@font-face {
  font-family: "Museo Slab Sans 500";
  src: local("Museo Slab Sans 500"), local("Museo Slab Sans 500"), url("/fonts/Museo_Slab_500.otf") format("opentype"); }

@font-face {
  font-family: "Museo Slab Sans 900";
  src: local("Museo Slab Sans 900"), local("Museo Slab Sans 900"), url("/fonts/Museo_Slab_900.otf") format("opentype"); }

@font-face {
  font-family: "Museo 300";
  src: local("Museo 300"), local("Museo 300"), url("/fonts/Museo500-Regular.otf") format("opentype"); }

@font-face {
  font-family: "Museo 500";
  src: local("Museo 500"), local("Museo 500"), url("/fonts/Museo500-Regular.otf") format("opentype"); }

body {
  font-family: "Museo Slab Sans 500",Helvetica, Arial, sans-serif;
  font-size: 95%;
  background-color: #2b2b2b;
  margin: 0; }

#main {
  background-color: white;
  position: relative;
  min-height: 500px;
  padding-left: 20px;
  font-size: 85%; }

#header {
  background-color: #2b2b2b;
  padding: 5px;
  height: 60px; }

#tagline {
  font-size: 20px;
  display: inline;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #eeeeee; }

#title {
  font-family: "Museo Slab Sans 900";
  background-position: 2px 3px;
  background-attachment: relative;
  background-repeat: no-repeat;
  padding: 2px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #efefef;
  position: relative;
  font-size: 50px;
  padding: 15px;
  text-decoration: none; }

#footer {
  text-align: center;
  clear: both;
  background-color: #2b2b2b;
  padding: 8px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 80%; }

#footer a {
  color: #eeeeee;
  font-weight: bold;
  text-decoration: none;
  text-transform: lowercase;
  margin-right: 2em;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  #footer a:hover {
    background-color: #fa1937; }

#main {
  background-color: #eeeeee; }

#sidebar {
  width: 500px;
  background-color: #eeeeee;
  position: absolute;
  top: 20px;
  overflow: none; }

#video {
  width: 500px; }

#previous_song, #next_song {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
  background-color: #2b2b2b;
  margin: 2px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }
  #previous_song:hover, #next_song:hover {
    background-color: #FA1937;
    color: white; }

#previous_song {
  float: left; }

#next_song {
  float: right; }

#filters {
  font-size: 80%;
  margin-left: 40px;
  text-align: -10px;
  display: inline; }

#time_filters, #day_of_week_filters {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
  padding: 5px; }
  #time_filters li, #day_of_week_filters li {
    display: inline; }
  #time_filters a, #day_of_week_filters a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    background-color: #2b2b2b;
    margin: 2px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #eee;
    color: black; }
    #time_filters a:hover, #day_of_week_filters a:hover {
      background-color: #FA1937;
      color: white; }

#day_of_week_filters {
  display: none; }

#event_wrapper {
  margin-top: 20px; }

#content {
  margin-left: 520px;
  overflow: auto;
  height: 100%;
  padding-left: 10px;
  border-left: 1px solid #B3B3B3;
  background: white; }

.artists {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline; }
  .artists li {
    display: inline; }

.artist {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding: 6px 8px 6px 8px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  .artist:hover {
    background-color: #eee; }

.artist.playing {
  background-color: #2b2b2b;
  color: white; }

.event_byline > td {
  padding-bottom: 10px;
  padding-top: -2px; }

.venue {
  text-transform: capitalize;
  font-style: italic;
  color: gray;
  text-decoration: none;
  font-family: courier new,monospace;
  font-size: 105%;
  padding-left: 8px; }

.time, .cost {
  text-transform: capitalize;
  font-style: italic;
  color: gray;
  text-decoration: none;
  font-family: courier new,monospace;
  margin-left: 1em;
  font-size: 85%; }

.date {
  text-transform: uppercase;
  color: gray;
  width: 90px;
  vertical-align: top;
  font-weight: bold;
  font-family: courier new,monospace; }
