body {
  font-family: Courier,Courier New,monospace;
  margin: 12px;
  background-color: #eff7f4; }

#main {
  position: relative;
  background-color: white;
  padding: 1em;
  min-height: 500px;
  border: 3px solid #abb9c1; }

#header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  background-color: #abb9c1;
  padding: 7px; }

#tagline {
  font-size: 20px;
  display: inline;
  font-weight: normal;
  color: white; }

#title {
  background-image: url(/images/bomb_64-64.png);
  background-position: 2px 3px;
  background-attachment: relative;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  font-size: 60px;
  padding: 0.1em 0.4em 0.1em 75px;
  text-decoration: none; }

#footer {
  text-align: center;
  clear: both;
  background-color: #abb9c1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-radius-bottomleft: 10px;
  -webkit-border-radius-bottomright: 10px;
  padding: 5px; }

#footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-transform: lowercase;
  margin-right: 2em;
  padding: 0.1em 0.4em 0.1em 0.4em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  #footer a:hover {
    background-color: #36454f; }

#sidebar {
  width: 500px;
  position: absolute; }

#content {
  margin-left: 520px;
  overflow: auto;
  height: 100%; }

.venue_and_cost td {
  padding-bottom: 10px; }

.artists {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline; }
  .artists li {
    display: inline; }

.artist {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  .artist:hover {
    background-color: #eff7f4; }

.artist.playing {
  background-color: #abb9c1; }

.venue, .cost {
  text-transform: capitalize;
  color: gray;
  font-style: italic;
  text-decoration: none; }

.cost {
  margin-left: 1em; }

.date {
  text-transform: uppercase;
  color: gray;
  width: 110px;
  vertical-align: top;
  font-weight: bold; }
