
/*
 * Variables, mixins and the like.
 */

$link_hover_color: #bd1550;
$now_playing_song_color: yellow;
$event_date_column_width_px: 100px;
$event_date_column_padding: 4px;

@mixin no_style_list {
  list-style:none;
  margin:0;
  padding:0;
}

@mixin inline_list {
  @include no_style_list;
  display:inline;
  li {
    display: inline;
  }
}

/*
 * Selectors
 */

html, body {
  font-family:Palatino,Georgia,"Times New Roman",Times,serif;
  margin:1em;
}

#logo {
  background-color:#ABB9C1;
  color:white;
  font-size:250%;
  padding:0.1em 0.4em 0.1em 0.4em;
  text-decoration:none;
}

#nav {
  @include inline_list;

  li a{
    color:white;
    background-color:gray;
    font-size:150%;
    padding:0.1em 0.4em 0.1em 0.4em;
    text-decoration:none;
    &:hover {
      background-color:blue;
    }
  }

} //#nav

#footer {
  text-align:center;
  margin-top:1em;
  font-size:90%;
  color:#CCC;
  clear:both;
  margin-top:2em;
}

#main {
  margin:0.5em;
  margin-top:2em;
}

div#events {
  float:left;
  display:inline-block;
}

div.event {
  margin-bottom:1em;
}

div.event .date {
  font-size:90%;
  color: #CCC;
  text-transform:uppercase;
  font-weight:bold;
  text-align:right;
}

ul.artists {
  @include inline_list;
}

div.event .artist, #venue .name, div.artist .name, #artists a.name, #venues
a.name {
  color:#586C78;
  text-decoration:none;
  font-size:110%;
  font-weight:bold;
  text-transform:uppercase;
  font-style:normal;
}

div.event .venue, div.event .cost, div#venue {
  text-decoration:none;
  color:#ABB9C1;
  font-style:italic;
  font-size:95%;
}

.event .venue {
  margin-left: $event_date_column_width_px + $event_date_column_padding;
}
.event .date {
  display:inline-block;
  min-width: $event_date_column_width_px;
  width: $event_date_column_width_px;
}

div.event .cost {
  margin-left:0.5em;
}

#footer a {
  color:#CCC;
  text-decoration:none;
  text-transform:lowercase;
  font-size: 80%;
  margin-right:2em;
}

a.artist:hover, a.venue:hover, #footer a:hover {
  color: $link_hover_color;
  text-decoration:none;
  border-bottom: 2px solid $link_hover_color;
}

a.artist.playing {
  background-color:$now_playing_song_color;
}

#venue {
  margin-bottom:1em;
}

ul#artists, ul#venues{
  @include no_style_list;
}

a.song {
  height:20px;
  width:20px;
  display:inline-block;
  background-image:url(/images/70-tv.png)
}

#player {
  float:left;
  margin-left:3em;
  width:500px;
  height:400px;
  background-color:gray;
}
