//
// This module contains mixins used by more than one page.
//

@mixin no_style_list {
  list-style:none;
  margin:0;
  padding:0;
}

@mixin inline_list {
  @include no_style_list;
  display:inline;
  li {
    display: inline;
  }
}

@mixin rounded_corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin rounded_corners_top($radius) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  -moz-border-radius-topleft: $radius;
  -moz-border-radius-topright: $radius;
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;

}

@mixin rounded_corners_bottom($radius) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -moz-border-radius-bottomright: $radius;
  -webkit-border-radius-bottomleft: $radius;
  -webkit-border-radius-bottomright: $radius;
}

@mixin hover_background_color($color) {
  &:hover {
    background-color: $color;
  }
}
