//
// This module contains the styling common to all pages.
// 


@import "mixins";
@import "reset";


@include remote_font("Museo Slab Sans 500", "/fonts/Museo_Slab_500.otf", "opentype");
@include remote_font("Museo Slab Sans 900", "/fonts/Museo_Slab_900.otf", "opentype");
@include remote_font("Museo 300", "/fonts/Museo500-Regular.otf", "opentype");
@include remote_font("Museo 500", "/fonts/Museo500-Regular.otf", "opentype");


$site_background_color: #eee;

$header_background_color: #2b2b2b;
$header_text_color: #eee;
$title_text_color: #efefef;

$sidebar_background_color: #eee;
$main_background_color: white;
$header_link_hover_color: #fc1271;
$footer_background_color: $header_background_color;
$footer_text_color: $header_text_color;

//
// Layout
//

html {
  height:100%;
}

body {
  font-family:"Museo Slab Sans 500",Helvetica, Arial, sans-serif;
  font-size:95%;
  background-color: $site_background_color;
  height:100%;
}

#main {
  position:relative;
  min-height:500px;
  font-size:80%;
  width:100%;
  height:100%;
  background:$main_background_color;
}

#content {
  background:$main_background_color;
  padding:10px;
}

//
// Header
//

#header {
  background-color:$header_background_color;
  padding-left:15px;
}

#title {
  font-family:"Museo Slab Sans 900";
  background-position:2px 3px;
  background-attachment:relative;
  background-repeat:no-repeat;
  @include rounded_corners(5px);
  color:$title_text_color;
  position:relative;
  font-size:50px;
  text-decoration:none;
}

#tagline {
  font-size:20px;
  display:inline;
  font-weight:bold;
  margin-left:30px;

  @include rounded_corners(5px);
  color:$header_text_color;
}

//
// Footer
//

#footer {
  text-align:center;
  clear:both;
  background-color:$footer_background_color;
  padding:8px;
  position:fixed;
  bottom:0;
  width:100%;
  font-size:80%;
}

#footer a {
  color:$footer_text_color;
  font-weight:bold;
  text-decoration:none;
  text-transform:lowercase;
  margin-right:2em;
  padding: 5px;
  @include rounded_corners(5px);
  @include hover_background_color(#FA1937);
}

//
// Entities
//

#venue, #artist {
  margin-left:5px;
  padding-bottom:5px;
  border-bottom:1px solid #eee;
  margin-bottom:10px;
  font-size:110%;
  .name {
    font-weight:bold;
    font-size:180%;
  }
}


