//
// This module contains the styling common to all pages.
// 


@import "mixins";


$site_background_color: #EFF7F4;
$main_background_color: white;
$header_background_color: #ABB9C1;
$header_text_color: white;
$header_link_hover_color: #36454F;
$footer_background_color: $header_background_color;
$footer_text_color: $header_text_color;


body {
  font-family:Courier,Courier New,monospace;
  margin:12px;
  background-color: $site_background_color;
}

#main {
  position:relative;
  background-color:$main_background_color;
  padding:1em;
  min-height:500px;
  border: 3px solid $header_background_color;
}

#header {
  @include rounded_corners_top(10px);
  background-color:$header_background_color;
  padding:7px;
}

#tagline {
  font-size:20px;
  display:inline;
  font-weight:normal;
  color:$header_text_color;
}

#title {
  background-image:url(/images/bomb_64-64.png);
  background-position:2px 3px;
  background-attachment:relative;
  background-repeat:no-repeat;
  color:$header_text_color;
  position:relative;
  font-size:60px;
  padding:0.1em 0.4em 0.1em 75px;
  text-decoration:none;
}

#footer {
  text-align:center;
  clear:both;
  background-color:$footer_background_color;
  @include rounded_corners_bottom(10px);
  color:$footer_text_color;
  padding:5px;
}

#footer a {
  color:$footer_text_color;
  font-weight:bold;
  text-decoration:none;
  text-transform:lowercase;
  margin-right:2em;
  padding: 0.1em 0.4em 0.1em 0.4em;
  @include rounded_corners(5px);
  @include hover_background_color($header_link_hover_color);
}
