//
// This module contains styling for the playlist.
//

@import "main";

$sidebar_width:500px;
$date_width:110px;

$artist_name_color:black;
$event_info_color:gray;


//
// Video Sidebar
//

#sidebar {
  width:$sidebar_width;
  position:absolute;
}

#previous_song, #next_song {
  color:black;
  text-transform:uppercase;
  font-weight:bold;
  text-decoration:none;
  padding:3px;
  background-color:#eee;
  @include rounded_corners(3px);
}

#next_song {
  float:right;
}

//
// Event List
//

#content {
  margin-left:$sidebar_width + 20px;
  overflow:auto;
  height:100%;
}

.artists {
  @include inline_list;
}

.artist {
  text-transform:uppercase;
  font-weight:bold;
  color:$artist_name_color;
  text-decoration:none;
  padding:2px 4px 2px 4px;
  @include rounded_corners(4px);
  &:hover {
    background-color:$site_background_color;
  }
}

.artist.playing {
  background-color:$header_background_color;
}

.venue_time_and_cost > td {
  padding-bottom:10px;
  padding-top:-2px;
}

.venue, .cost, .time {
  text-transform:capitalize;
  color:$event_info_color;
  font-style:italic;
  text-decoration:none;
}

.time, .cost {
  margin-left:1em;
  font-size:90%;
}

.date {
  text-transform:uppercase;
  color:$event_info_color;
  width:$date_width;
  vertical-align:top;
  font-weight:bold;
}
