//
// This module contains styling for the playlist.
//

@import "main";

$artist_color:black;
$artist_playing_background_color:#FBEC58;
$artist_playing_text_color:black;
$artist_hover_background_color:#f9f0f4;
$event_byline_color:gray;


//
// Video Sidebar
//

#player {
  margin:20px;
}

@mixin button {
  color:white;
  font-weight:bold;
  text-decoration:none;
  padding:5px;
  background-color:#2b2b2b;
  margin:2px;
  @include rounded_corners(3px);
  &:hover {
    background-color:#FA1937;
    color:white;
  }
}

#previous_song, #next_song {
  @include button;
}

#previous_song {
  float:left;
}

#next_song {
  float:right;
}

//
// Event Filter Widget
//

#filters {
  font-size:80%;
  margin-left:40px;
  text-align:-10px;
  position:relative;
  top:-5px;
  display:inline;
}

#time_filters {
  @include inline_list;
  padding:5px;
  padding-left:7px;
  padding-right:7px;
  a {
   @include button;
   background-color:#eee;
   color:black;
  }
}

//
// Event List
//

#content {
  overflow:auto;
  height:100%;
  border-left:1px solid #B3B3B3;
  padding:20px;
}

#events {
  margin-top:20px;
}

.artists {
  @include inline_list;

}

.artist {
  text-transform:uppercase;
  font-weight:bold;
  color:$artist_color;
  text-decoration:none;
  padding:4px 8px 4px 8px;
  @include rounded_corners(4px);
  &:hover {
    background-color:$artist_hover_background_color;
  }
}

.artist.playing {
    background-color:darken($artist_hover_background_color, 10%);
}

.event_byline > td {
  // HACK: Table rows and cells have no margins. This puts space betwen event
  // rows.
  padding-bottom:10px;
  padding-top:-2px;
}

@mixin event_byline_content {
  text-transform:capitalize;
  font-style:italic;
  color:$event_byline_color;
  text-decoration:none;
  @include monospace;
}

.venue {
  @include event_byline_content;
  font-size:105%;
  padding-left:8px;
}

.time, .cost {
  @include event_byline_content;
  margin-left:1em;
  font-size:85%;
}

.date {
  text-transform:uppercase;
  text-align:center;
  color:$event_byline_color;
  vertical-align:top;
  font-weight:bold;
  width:80px;
  @include monospace;
}

#tags {
  @include inline_list;
  width:100%;
  a {
    @include button;
    background-color: #eee;
    color:#2b2b2b;
    border:solid 1px #ccc;
    &:hover {
      background-color: #eee;
      color:#2b2b2b;
    }
    &.selected {
      background-color:$artist_playing_background_color;
      color:black;
      font-size:150%;
      border-color:darken($artist_playing_background_color, 20%);
    }
  }
}
