//
// This module contains styling for the playlist.
//

@import "main";

$sidebar_width:500px;
$date_width:110px;

$artist_name_color:black;
$event_byline_color:gray;


//
// Video Sidebar
//

#sidebar {
  width:$sidebar_width;
  position:absolute;
  top:20px;
}

@mixin button {
  color:black;
  text-transform:uppercase;
  font-weight:bold;
  text-decoration:none;
  padding:5px;
  background-color:#eee;
  @include rounded_corners(3px);
  &:hover {
    background-color:$header_background_color;
  }
}

#previous_song, #next_song {
  @include button;
}

#next_song {
  float:right;
}

//
// Event Filter Widget
//

#filters {
  margin:15px;
  text-align:right;
  display:block;
  clear:both;
}

#time_filters {
  @include inline_list;
}

#time_filters a {
  @include button;
}

//
// Event List
//

#content {
  margin-left:$sidebar_width + 20px;
  overflow:auto;
  height:100%;
}

.artists {
  @include inline_list;

}

.artist {
  text-transform:uppercase;
  font-weight:bold;
  color:$artist_name_color;
  text-decoration:none;
  padding:2px 4px 2px 4px;
  @include rounded_corners(4px);
  &:hover {
    background-color:$site_background_color;
  }
}

.artist.playing {
  background-color:$header_background_color;
}

.event_byline > td {
  // HACK: Table rows and cells have no margins. This puts space betwen event
  // rows.
  padding-bottom:10px;
  padding-top:-2px;
}

@mixin event_byline_content {
  text-transform:capitalize;
  font-style:italic;
  color:$event_byline_color;
  text-decoration:none;
}

.venue {
  @include event_byline_content;
  font-size:105%;
}

.time, .cost {
  @include event_byline_content;
  margin-left:1em;
  font-size:85%;
}

.date {
  text-transform:uppercase;
  color:$event_byline_color;
  width:$date_width;
  vertical-align:top;
  font-weight:bold;
}
