//
// This module contains styling for the playlist.
//

@import "main";

$link_hover_color: #bd1550;
$now_playing_song_color: yellow;
$event_date_column_width_px: 100px;
$event_date_column_padding: 8px;

/*
 * Selectors
 */

div.event {
  margin-bottom:1em;
}

div.event .date {
  font-size:90%;
  color: #CCC;
  text-transform:uppercase;
  font-weight:bold;
  text-align:right;
}

ul.artists {
  @include inline_list;
}

div.event .artist, #venue .name, div.artist .name, #artists a.name, #venues
a.name {
  color:#586C78;
  text-decoration:none;
  font-size:110%;
  font-weight:bold;
  text-transform:uppercase;
  font-style:normal;
}

div.event .venue, div.event .cost, div#venue {
  text-decoration:none;
  color:#ABB9C1;
  font-style:italic;
  font-size:95%;
}

.event .venue {
  margin-left: $event_date_column_width_px + $event_date_column_padding;
}
.event .date {
  display:inline-block;
  min-width: $event_date_column_width_px;
  width: $event_date_column_width_px;
}

div.event .cost {
  margin-left:0.5em;
}

a.artist:hover, a.venue:hover {
  color: $link_hover_color;
  text-decoration:none;
  border-bottom: 2px solid $link_hover_color;

}

a.artist.playing {
  background-color:#FCF75E;
  padding:2px 6px 2px 6px;
  @include rounded_corners(4px);
}

#venue {
  margin-bottom:1em;
}

ul#artists, ul#venues{
  @include no_style_list;
}

a.song {
  height:20px;
  width:20px;
  display:inline-block;
  background-image:url(/images/70-tv.png)
}

#events {
  margin-left:520px;
}

#video {
  position:absolute;
  top:10px;
  left:10px;
  width:500px;
  height:365px;
}
