<div id="events">
  <% @events.each do |event| %>
  <div class="event">
    <span class="date">
      <%= event.start_date.strftime("%b %d") %>
    </span>
    <% event.artists.each do |artist| %>
      <%= link_to artist.name, artist, {:class=> "artist"} %>
    <% end %>
    <%= link_to event.venue.name, event.venue, {:class => "venue"}%>
    <span class="cost">
      <%= event.price_range_in_words %>
    </span>
  </div>
  <% end %>
</div>
