<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'static' %>
<% end %>

<div id="contact">
  <p>Get in touch. We'd love to hear from you.</p>
  <h3><a href="mailto:info@showbomber.com">email</a></h3>
  <h3><a href="<%= get_uservoice_url() %>">feedback</a></h3>
</div>
