<h1>Contact</h1>

<h4>Found a bug? Want a feature? </h4>
  Leave some <a href="http://showbomber.uservoice.com">feedback</a>. I'd love t hear from you.

<h4>Just wanna holler?</h4>
  Hit me up at <strong>info  at showbomber dot com</strong>.
