<h1>Venues</h1>

<ul id="venues">
<% @venues.each do |venue| %>
  <li class="venue">
    <%= link_to venue.name, venue, :class=>"name" %>
  </li>

<% end %>
</ul>

<br />

<%= link_to 'New venue', new_venue_path %>
