html, body {
  font-family:Palatino,Georgia,"Times New Roman",Times,serif;
  margin:1em;
}

#logo {
  background-color:#ABB9C1;
  color:white;
  font-size:250%;
  padding:0.1em 0.4em 0.1em 0.4em;
  text-decoration:none;
  position:fixed;
  top:16px;
}

#nav {
  position:relative;
  left:203px;
  top:11px;
}

#nav, #nav li {
  list-style:none;
  text-decoration:none;
  display:inline;
}

#nav li a{
  color:white;
  background-color:gray;
  font-size:150%;
  padding:0.1em 0.4em 0.1em 0.4em;
  text-decoration:none;
}

#nav li a:hover {
  /*  FIXME: choose a nice header link background color */
  background-color:blue;
}

#footer {
  text-align:center;
  margin-top:1em;
  font-size:90%;
  color:#CCC;
}

#main {
  margin:0.5em;
  margin-top:2em;
}

div.event {
  margin-bottom:1em;
}

div.event .date {
  position:fixed;
  font-size:110%;
  color: #CCC;
  text-transform:uppercase;
  font-weight:bold;
  text-align:right;
  width:120px;
}

ul.artists, ul.artists li {
  display:inline;
  list-style:none;
  margin:0;
  padding:0;
}

div.show_info, ul.artists {
  position:relative;
  left:125px;
}

div.event .artist {
  color:#586C78;
  text-decoration:none;
  font-size:110%;
  margin-right:0.2em;
  font-weight:bold;
  text-transform:uppercase;
}

div.event .venue, div.event .cost {
  text-decoration:none;
  color:#ABB9C1;
  font-style:italic;
  font-size:95%;
}

div.event .cost {
  margin-left:0.5em;
}

#footer a {
  color:#CCC;
  text-decoration:none;
  text-transform:lowercase;
  font-size: 80%;
  margin-right:2em;
}

div.event a:hover, #footer a:hover {
  color: #bd1550;
  text-decoration:none;
  border-bottom: 2px solid #bd1550;
}
