html, body {
  font-family:Palatino,Georgia,"Times New Roman",Times,serif;
/*  background-color:#FCFCFC; */
  margin:1em;
}

#logo {
  background-color:#D1EFC2;
  color:white;
  font-size:300%;
  padding:0.1em 0.4em 0.1em 0.4em;
  text-decoration:none;
}

#header ul#nav {
  list-style:none;
  text-decoration:none;
  display:inline;
}

#header ul#nav li {
  text-decoration:none;
  display:inline;
}

#footer {
  margin-top:1em;
  font-size:90%;
  color:#CCC;
}
