html, body {
  font-family:Palatino,Georgia,"Times New Roman",Times,serif;
/*  background-color:#FCFCFC; */
  margin:1em;
}

#logo {
  background-color:#D1EFC2;
  color:white;
  font-size:300%;
  padding:0.1em 0.4em 0.1em 0.4em;
  text-decoration:none;
}

#header ul#nav {
  list-style:none;
  text-decoration:none;
  display:inline;
}

#header ul#nav li {
  text-decoration:none;
  display:inline;
}

#header ul#nav li a{
  color:white;
  background-color:gray;
  font-size:200%;
  padding:0.1em 0.4em 0.1em 0.4em;
  text-decoration:none;
}

#footer {
  margin-top:1em;
  font-size:90%;
  color:#CCC;
}

#events {
  margin:2em;
}

div.event {
  margin-bottom:1em;
}

div.event .date {
  font-size:120%;
  color: #CCC;
  text-transform:uppercase;
  font-weight:bold;
  width:6em;
}

div.event .artist {
  color:#586C78;
  text-decoration:none;
  font-size:120%;
  padding-right:0.3em;
  font-weight:bold;
  text-transform:uppercase;
}

div.event .venue {
  clear:both;
  margin-left:4.5em;
  text-decoration:none;
  display:block;
  color:#586C78;
  font-style:italic;
}
