-# This module contains verification tags for analytics tools.

%meta(name="google-site-verification" content="VADO3qdrZJTstl_fCDNJRyiqb7dTwybKYdtUVLHcwr4")
%meta(name="msvalidate.01" content="BBB3BE1D9FEE3FEF28850686054AA067")
